.home-container {
    padding: 1rem;
    border-radius: 8px;
    margin-top: 51px;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
  }
  
  .home-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .home-container li {
    margin: 0.5rem 0;
  }
  