
:root {
  --primary-teal: #00e6b8;
  --primary-icon: #00c9a7;
  --dark-bg: #0f172a;
  --light-bg: #ffffff;
  --card-dark: #1e293b;
  --card-light: #ffffff;
  --text-dark: #1f1f1f;
  --text-light: #ffffff;
  --text-gray: #6c6c6c;
  --navbar-bg: #1d2b3a;
  --footer-bg: #1e293b;
  --icon-color: #00e6b8;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
